#body {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}

#container {
	margin-left:40%;
	margin-right:60%;
	margin-top:20px;
	
}

/*** Content ***/
#center_content {
	padding-left:3%;
	padding-right:3%;
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
}

#small_wrap{
    float:left;
	width:300px;
	background:black;
}

#small_wrap > div{
    width: 31.3%;
    margin:1%;
}

img {
	width:80px;
	height:80px;
}

#cell {
	float:left;
}

div > div{
    background:#2C3E50;
}

#header {
	font-size: large;
	text-align: center;
	padding: 0.3em 0;
	background: #333;
	color: #FFF;
}